
Screenshot 2020-10-24 190142.png
Exercises/20.10/Homework/file1.txt
Exercises/20.10/Homework/file2.txt
Exercises/20.10/Homework/Naloga1
Exercises/20.10/Homework/file3.txt
Exercises/20.10/Homework/Naloga2
Exercises/20.10/Homework/file5.txt
Exercises/20.10/Homework/Naloga3
Exercises/20.10/Homework/file4.txt
Exercises/20.10/Homework/Naloga4
Exercises/20.10/Homework/resitve.zip
Exercises/20.10/Homework/file7.txt
Exercises/20.10/Homework/file6.txt
Lectures/26.10.2020/link1
Exercises/27.10.2020/vaja02-resitve.zip
Exercises/27.10.2020/test.txt
Exercises/3.11.2020/Homework
Lectures/9.11.2020/parser
Lectures/9.11.2020/shell1
Lectures/9.11.2020/signal1
Lectures/9.11.2020/signal2
Lectures/9.11.2020/.vscode/c_cpp_properties.json
Lectures/9.11.2020/pipe1
Exercises/3.11.2020/vaja03-resitve (1).zip
Exercises/10.11.2020/Homework2
Exercises/10.11.2020/2.Homework
Exercises/10.11.2020/1.Homework
Exercises/10.11.2020/vaja04-resitve.zip
SPO_Cheatsheet.pdf
.vscode/c_cpp_properties.json
Exercises/20.10/Homework/v01-n1-kopiraj.c
Exercises/20.10/Homework/v01-n3-obrni.c
Exercises/20.10/Homework/v01-n2-cat.c
Exercises/20.10/Homework/v01-n4-rep.c
